.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 [inert] {
	opacity: 0.5;
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

.wpcf7-reflection > output {
	display: list-item;
	list-style: none;
}

.wpcf7-reflection > output[hidden] {
	display: none;
}

div#cmplz-cookiebanner-container {
   display:none
}
html.searchactive {
    overflow: hidden;
}
.searchOuterWrap{
   opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    pointer-events: none;
    top: 112px;
    transform: translateY(-100%);
    transition: 0.5s;
    background-color: #fff;
    padding: 50px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.searchOuterWrap.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}
.stickyHeader .searchOuterWrap.active {
    transform: translateY(-32px);
}

.searchOuterWrap .elementor-widget-container {
    max-width: 1128px;
    margin: 0 auto;
    width:90%;
}
.searchOuterWrap .close{
	display:none;
    position:absolute;
    top:15px;
    right:40px;
    border-radius:50px;
    padding:10px 15px;
    line-height:1;
    border:none;
    color:#2a2a2a;
    z-index:2;
    font-size:20px;
    background:transparent;
    transition:0.3s;
    border: 0px !important;
}
.searchOuterWrap .close:hover{
 background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px !important;
    
}
input.hfe-search-form__input{
    position:relative;
}
.searchIcon{
    cursor: pointer;
}
.searchIcon .elementor-icon-wrapper{
line-height:1;
}
/*button[type='reset']:not([style*='visiblilty:visible;'])+button.hfe-search-submit{
    pointer-events: none;
    cursor: not-allowed;
    z-index: 10;
    position: relative;
    opacity: 0.5;
}
button[type='reset'][style*='visibility: visible;']+button.hfe-search-submit{
    pointer-events: auto !important;
    cursor: pointer !important;
    z-index: 10;
    position: relative;
    opacity: 1;
}*/
button.hfe-search-submit .fa-search:before {
    content: url(images/search.svg);
    filter: brightness(1) invert(0.7);
}
body.ast-theme-transparent-header .searchIcon .elementor-icon svg{
    fill: #fff !important
} 
body:not(.ast-theme-transparent-header) .searchIcon .elementor-icon svg{
    fill: #2A2E3A !important
}
body .stickyHeader .searchIcon .elementor-icon svg, .ast-theme-transparent-header:not(.blankHero) section.headerSection:hover .searchIcon .elementor-icon svg{
    fill: #2A2E3A !important;
}  
.hfe-search-form__container {
    border-radius: 0 !important;
    background:transparent !important
}
.hfe-search-form__container input{
    background:#f3f3f3 !important;
    padding-left:15px !important;
}
form.hfe-search-button-wrapper.hfe-input-focus{
    display: block !important
}
form.hfe-search-button-wrapper.hfe-input-focus:after,form.hfe-search-button-wrapper.focused .hfe-search-form__container:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
    z-index: 99;
}
.hfe-search-form__container button[type='reset'] {
    right: 50px;
}
form.hfe-search-button-wrapper.focused button[type='reset'],.hfe-input-focus  button[type='reset'] {
    visibility:visible !important;
}
button[type='reset'] i:before {
    content: "x";
    position: absolute;
    display: flex !important;
    justify-content:center;
    align-items:center;
    top: 0;
    right: -10px;
    width: 50px;
    height: 100%;
    line-height:1;
    z-index: 1;
    background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-style:normal;
    font-size:16px !important;
}
.hfe-search-form__container .hfe-search-submit {
    min-width: 50px !important;
    background: #d9d9d9;
}
.hfe-search-form__container .hfe-search-submit i:before{
    top:5px;
    position:relative;
}
#menu-primary-menu .hfe-search-form__container {
    width: calc(100% - 40px);
    padding: 0;
    position:relative !important;
    margin: 10px auto 30px;
}
#menu-primary-menu .hfe-search-form__container input{
    border: 0;
    background: #F1F3F6 !important;
}
#menu-primary-menu .hfe-search-form__container input::placeholder{
    color:#2A2E3A ;
}
@media only screen and (max-width: 1025px){
 .hfe-search-form__container button#clear {
    visibility: visible;
    border: 0px;
    padding: 0 !important;
    margin: 0;
}
}
ul.searchList {
    position:absolute;
    display: none;
    width: 100%;
    margin: 0 !important;
    padding-top: 10px;
    list-style: none;
    text-align: left;
}
ul.searchList li{
    padding:5px 10px 5px 50px;
    background:white;
    position:relative;
    
}
ul.searchList li:hover{
    background:#f3f3f3 
}
ul.searchList li:before, ul.searchList li:after{
content:"";
display:block !important;
position:absolute;
top:50%;
transform:translateY(-50%);
width:20px;
height:20px;
background-position:center;
background-repeat:no-repeat;
background-size:contain;
}
ul.searchList li:after{
background-image:url('images/north_west.svg');
right:8px;
width:12px;
height:12px
}
ul.searchList li:before{
left:8px;
background-image:url('images/history.svg');
}
form.hfe-search-button-wrapper.hfe-input-focus .searchList,form.hfe-search-button-wrapper.focused .searchList,.hfe-search-button-wrapper ul.searchList:hover {
    display: block !important;
}
@media (max-width: 1024px){
  ul.searchList {
    width: calc(100% - 40px);
    left: 20px;
    top: 44px;
    z-index: 9;
}  
}
article section [data-widget_type="breadcrumbs.default"]{
	display:none
}
.form-group {
    font-family: "Mulish";
    position: relative;
    margin-bottom: 15px;
}

input,
select,
textarea {
    color: #2A2E3A !important;
    font-family: "Mulish";
    font-weight: 500;
}

input.wpcf7-form-control:not([type="submit"]),
textarea.wpcf7-form-control {
    background: #F5F6F8;
    border-radius: 4px;
    border: 0px;
    margin-bottom: 0;
    padding: 20px 15px 5px !important;
    font-size: 16px;
    transition: 0.3s;
    border-bottom: 2px solid transparent
}
textarea.wpcf7-form-control {
    height: 100px;
}
.form-group span.plus {
    position: absolute;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    top: 24px;
    left: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

label.focused+span {
    opacity: 1 !important;
    visibility: visible !important;
}
.form-group label span.required {
    color: #d6001c;
    font-weight: bold;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: transparent;
}

.form-with-animated-labels span.wpcf7-form-control-wrap+label {
    font-family: "Mulish";
    font-weight: 500 !important;
    color: #4E5761;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    padding: 0 !important;
    line-height: 1;
}

.form-with-animated-labels .form-textarea-wrapper label {
    top: 10px;
    transform: none;
}

.form-with-animated-labels span.wpcf7-form-control-wrap+label.focused {
    top: 8px;
    font-size: 13px;
}
input[type="submit"].wpcf7-submit {
    width: 100%;
    height: 50px;
    padding: 0;
    color: #fff !important;
    transform: 0.3s;
}

span.wpcf7-form-control.wpcf7-acceptance label {
    display: flex;
    align-items: flex-start;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 14px !important;
    justify-content: flex-start;
}

span.wpcf7-form-control.wpcf7-acceptance label input[type="checkbox"] {
    max-width: max-content;
    margin-right: 20px;
}
span.wpcf7-form-control.wpcf7-acceptance {
    text-align: left !important;
}
span.wpcf7-form-control.wpcf7-acceptance span.wpcf7-list-item {
    margin-left: 0;
}

span.wpcf7-form-control.wpcf7-acceptance label input[type="checkbox"]+span {
    display: inline-block;
    transform: translateY(0) !important;
    line-height: 1;
}


/* CSS for language switcher */

@media only screen and (max-width: 1024px){
    section.headerSection > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > section > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap{
    flex-wrap:nowrap;
    flex-direction: row-reverse;
    justify-content:flex-start;
    width: 100%;
    /* margin-left:auto; */
    /* width: max-content; */
}
section.headerSection > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > section > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > div:nth-child(3){
    width: calc(80% - 10px);
    padding: 0px 20px;
    display:flex;
    justify-content:center;
}
section.headerSection > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > section > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > div:nth-child(2){
    width: calc(20% - 10px);
    margin: 0px;
    padding: 0px 20px
}
section.headerSection > .elementor-container > .elementor-column:last-child > 
.elementor-widget-wrap > section > .elementor-container > 
.elementor-column:last-child > .elementor-widget-wrap > div:nth-child(2)
ul{
    list-style:none;
}
section.headerSection > .elementor-container > .elementor-column:last-child > 
.elementor-widget-wrap > section > .elementor-container > 
.elementor-column:last-child > .elementor-widget-wrap > div:nth-child(2)
ul > li > ul.elementskit-dropdown.elementskit-submenu-panel{
    opacity: 0;
    visibility:hidden;
    display:none;
    position:absolute;
    border-style: none;
    border-radius: 0px;
    top: calc(100% + 20px);
    min-width: 220px;
    padding: 0px!important;
    margin-left: 0;
    border: 1px solid #dadada;
    background-color: #f4f4f4;
    list-style: none;
    max-height: 2500px;
}
    section.headerSection > .elementor-container > .elementor-column:last-child > 
.elementor-widget-wrap > section > .elementor-container > 
.elementor-column:last-child > .elementor-widget-wrap > div:nth-child(2)
ul > li > ul.elementskit-dropdown-open.elementskit-submenu-panel{
    opacity: 1;
    visibility:visible;
    display:block;
}
    section.headerSection li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe{
        border: none;
        border-radius: 0px;
        padding: 0px;
        width: 20px;
        height: 20px;
    }
	section.headerSection > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > section > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > div:nth-child(2){
    opacity: 0;
    visibility:hidden;
}
section.headerSection > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > section > .elementor-container > .elementor-column:last-child > .elementor-widget-wrap > div:nth-child(2).showMobTabLangBar{
    opacity: 1;
    visibility: visible;
}
}

@media only screen and (min-width: 1025px){
   li.menu-item-language.wpml-ls-item.wpml-ls-current-language{
        opacity:0;
   }
    .menu-item-language a.ekit-menu-nav-link.ekit-menu-dropdown-toggle {
        display: none;
    }
    li.menu-item-language.wpml-ls-item.wpml-ls-current-language{
       width: 60px;
    }
    li.menu-item-language.wpml-ls-item.wpml-ls-current-language{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        cursor:pointer !important;
    }
}
body.ast-theme-transparent-header a.lang-icon-globe{
     filter: brightness(0) invert(1);
}
#menu-primary-menu li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe{
    border: none;
    border-radius: 0px;
}
#menu-primary-menu li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe{
    width: 100%;
}

#menu-primary-menu li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe::after{
    display:none;
}
#menu-primary-menu li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe ~ ul li a{
    border: none !important;
    padding: 15px !important;
}
#menu-primary-menu li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe ~ ul li a::after{
    display:none;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe ~ ul{
    width: 100%;
}
body.ast-theme-transparent-header a.lang-icon-globe{
    order: 0;
}
body:not(.ast-theme-transparent-header) a.lang-icon-globe, 
body .stickyHeader a.lang-icon-globe, 
.ast-theme-transparent-header:not(.blankHero) section.headerSection:hover a.lang-icon-globe{
 filter: unset;
}
@media only screen and (max-width:1024px){
  a.lang-icon-globe+ul.elementskit-dropdown {
    right: 0;
}  
}

@media only screen and (max-width:1024px) and (min-width:600px){
  a.lang-icon-globe+ul.elementskit-dropdown {
    right: 25px;
}  
}

li.menu-item-language.wpml-ls-item.wpml-ls-current-language ul{
    background-color: white !important;
    padding:0px !important;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language ul li a{
border:none !important;
transition: background 0.3s ease-in-out;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language ul li a:hover{
    background-color:#F2F3F7;
    color:black !important;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language ul li span{
    font-weight: 400;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language ul li .selected-lang span{
    font-weight: 700;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language ul li:hover a span{
    background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    background-clip:text;
    color:transparent !important;
    -webkit-background-clip:text !important;
}
li.menu-item-language.wpml-ls-item.wpml-ls-current-language > a.lang-icon-globe{
background-position:center;
background-repeat:no-repeat;
display:flex;
align-items: center;
background-image:url('images/globe.svg');
}

.csTitleBG {
    z-index: 0 !important;
    position: relative !important;
}

footer {
  z-index: unset !important;
}

header#masthead .headerSection {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -1px;
  margin-bottom: 0px;
  z-index: 9999;
}
.ntgheader-html-section .elementor-widget-wrap,
.ntgheader-script-section .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}

.headerSection > .elementor-container {
  min-height: 112px;
}
@media (min-width: 768px) {
  .headerSection .ntgheaderSection-logo-col {
    width: 10%;
  }
}

.headerSection .ntgheaderSection-logo-col > .elementor-widget-wrap,
.headerSection .ntgheaderSection-content-col > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.headerSection .ntgheaderSection-content-col > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}

.headerSection .ntgheaderSection-logo-col .ntLogo {
  text-align: left;
}

.ast-theme-transparent-header:not(.blankHero) .ntLogo img {
  filter: brightness(0) invert(1);
}
.headerSection .ntgheaderSection-logo-col .ntLogo img {
  width: 80px;
  height: 80px;
}

@media (min-width: 768px) {
  .headerSection .ntgheaderSection-content-col {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .headerSection .ntgheaderSection-menu-col {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .headerSection .ntgheaderSection-cta-column {
    width: 25%;
  }
}

.headerSection .ntgheaderSection-menu-col > .elementor-widget-wrap,
.headerSection .ntgheaderSection-cta-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.headerSection .ntgheaderSection-menu-col > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
  justify-content: flex-end;
}

.headerSection .ntgheaderSection-cta-column > .elementor-widget-wrap {
  justify-content: space-between;
}

.headerSection .ntgheaderSection-menu-col .ntgheaderSection-nav-menu {
  width: auto;
  max-width: auto;
  z-index: 1;
}

.headerSection .ntgheaderSection-menu-col .elementskit-menu-hamburger {
  float: right;
  background-color: #ffffff;
  border-style: none;
}

.headerSection .ntgheaderSection-menu-col .elementskit-menu-container {
  height: 80px;
  border-radius: 0px 0px 0px 0px;
}

.headerSection
  .ntgheaderSection-menu-col
  .elementskit-menu-container
  .elementskit-menu-close {
  background-color: #ffffff00;
  border-style: none;
  color: #000000;
}

.headerSection .ntgheaderSection-menu-col .elementskit-navbar-nav > li > a {
  font-weight: 700;
  color: #2a2e3a;
  padding: 9px 9px 9px 9px;
}

a.ekit-menu-nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media only screen and (min-width: 1025px) {
  a.ekit-menu-nav-link:hover {
    background: linear-gradient(270deg, #d6001c, #6a1f7a) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
}
a.ekit-menu-nav-link.menu-link:hover:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background: linear-gradient(270deg, #d6001c 13.02%, #6a1f7a 98.28%);
}

@media only screen and (min-width: 1025px) {
  body
    header#masthead
    a.ekit-menu-nav-link:hover
    .elementskit-submenu-indicator,
  body
    header#masthead:hover
    a.ekit-menu-nav-link:hover
    .elementskit-submenu-indicator {
    filter: brightness(1) !important;
    transform: rotate(180deg) !important;
    transform-origin: center !important;
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel section.elementor-section.elementor-top-section {
    position: relative;
    background-color: transparent !important;
  }
}

.headerSection
  .ntgheaderSection-content-col
  #menu-primary-menu.elementskit-navbar-nav
  > li:hover
  > a,
.headerSection
  .ntgheaderSection-content-col
  #menu-primary-menu.elementskit-navbar-nav
  > li:hover
  > a
  .elementskit-submenu-indicator {
  color: var(--e-global-color-primary);
}

#menu-primary-menu li.menu-item > a .elementskit-submenu-indicator:before {
  content: url(images/chevron_down.svg);
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel
    section.elementor-section.elementor-top-section
    > .elementor-container:before {
    content: "";
    background-color: white;
    height: 100%;
    width: calc(100vw);
    display: block !important;
    position: absolute;
    top: 0;
    left: 25%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel
    section.elementor-section.elementor-top-section
    > .elementor-container:after {
    content: "";
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: calc(100vw);
    display: block !important;
    position: absolute;
    top: 0;
    right: 75%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel
    section.elementor-section.elementor-top-section
    > .elementor-container:after {
    content: "";
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: calc(100vw);
    display: block !important;
    position: absolute;
    top: 0;
    right: 75%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel .solutionMenu > .elementor-container:after {
    background-image: url(images/our-solution-hero-sec-bg-scaled-1.jpg);
  }
}

body.ast-theme-transparent-header
  a.ekit-menu-nav-link
  .elementskit-submenu-indicator {
  filter: brightness(0) invert(1) !important;
  transition: 0.3s;
  padding-right: 0;
}

.headerSection
  .ntgheaderSection-content-col
  .elementskit-navbar-nav
  > li
  > a
  .elementskit-submenu-indicator {
  color: #101010;
  fill: #101010;
}

.ast-theme-transparent-header:not(.blankHero)
  #menu-primary-menu
  li.menu-item
  > a
  .elementskit-submenu-indicator:before {
  filter: brightness(0) invert(1);
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel .solutionMenu > .elementor-container:after,
  .elementskit-megamenu-panel .industryMenu > .elementor-container:after,
  .elementskit-megamenu-panel .thinkingMenu > .elementor-container:after,
  .elementskit-megamenu-panel .aboutMenu > .elementor-container:after {
    background-color: #00000082;
    background-blend-mode: multiply;
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel .industryMenu > .elementor-container:after {
    background-image: url(images/industries-hero-bg.jpg) !important;
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel .thinkingMenu > .elementor-container:after {
    background-image: url(images/our-solution-hero-sec-bg-scaled-1.jpg);
  }
}

@media only screen and (min-width: 1025px) {
  .elementskit-megamenu-panel .aboutMenu > .elementor-container:after {
    background-image: url(images/hero_banner_.jpg);
    background-position: 50% 75% !important;
  }
}

.headerSection
  .ntgheaderSection-menu-col
  .elementskit-navbar-nav
  .elementskit-submenu-panel {
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  min-width: 220px;
  padding: 15px 0px 15px 0px;
}

.headerSection
  .ntgheaderSection-menu-col
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a {
  padding: 15px 15px 15px 15px;
  color: #000000;
  border-style: solid;
  border-color: #3c3c3c;
}

.headerSection
  .ntgheaderSection-menu-col
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:first-child
  > a {
  border-style: solid;
}

.headerSection .ntgheaderSection-cta-column .searchIcon {
  width: auto;
  max-width: auto;
}

.headerSection
  .ntgheaderSection-cta-column
  .searchIcon
  > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}

.headerSection
  .ntgheaderSection-cta-column
  .searchIcon
  > .elementor-widget-container
  > .elementor-icon-wrapper {
  text-align: left;
}

.headerSection .ntgheaderSection-cta-column .searchIcon .elementor-icon {
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-secondary);
  font-size: 20px;
}

.headerSection .ntgheaderSection-cta-column .searchIcon .elementor-icon svg {
  fill: var(--e-global-color-secondary);
  height: 20px;
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-hamburger {
  float: right;
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-hamburger
  > .elementskit-menu-hamburger-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-container {
  height: 80px;
  border-radius: 0px 0px 0px 0px;
}
.ast-theme-transparent-header:not(.blankHero)
  .stickyHeader
  .headerSection
  .elementskit-navbar-nav
  > li
  > a.menu-link {
  color: #222 !important;
}
@media only screen and (min-width: 1025px) {
  .ast-theme-transparent-header:not(.blankHero)
    .elementskit-navbar-nav
    > li
    > a.menu-link {
    color: #fff !important;
  }
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-container
  ul.elementskit-dropdown
  > li.menu-item-language
  > a {
  padding: 15px 15px 15px 15px;
  color: #000000;
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-container
  ul.elementskit-navbar-nav
  > li.menu-item-language
  > a {
  color: #000000;
  padding: 0px 15px 0px 15px;
}

body.ast-theme-transparent-header
  a.ekit-menu-nav-link
  .elementskit-submenu-indicator {
  filter: brightness(0) invert(1) !important;
  transition: 0.3s;
  padding-right: 0;
}

.ast-theme-transparent-header
  header#masthead:hover
  a.ekit-menu-nav-link
  .elementskit-submenu-indicator,
body:not(.ast-theme-transparent-header)
  header#masthead
  a.ekit-menu-nav-link
  .elementskit-submenu-indicator {
  filter: brightness(0) !important;
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-container
  ul.elementskit-navbar-nav
  > li.menu-item-language
  > a
  i {
  color: #101010;
  fill: #101010;
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-container
  ul.elementskit-dropdown {
  padding: 15px 0px 15px 0px;
  border-radius: 0px 0px 0px 0px;
  min-width: 220px;
}

.headerSection
  .ntgheaderSection-cta-column
  .mob-tab-lang-switcher
  .elementskit-menu-close {
  color: rgba(51, 51, 51, 1);
}

.headerSection .ntgheaderSection-cta-column .solidRedCTA.triggerContactusForm {
  width: auto;
  max-width: auto;
}
.headerSection
  .ntgheaderSection-cta-column
  .solidRedCTA.triggerContactusForm
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

div#mainNavGetInTouch a {
  width: min-content !important;
  white-space: nowrap;
}

.headerSection
  .ntgheaderSection-cta-column
  .solidRedCTA.triggerContactusForm
  a.elementor-button {
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  padding: 9px 32px 9px 32px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .headerSection .ntgheaderSection-cta-column {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  section.headerSection {
    padding: 0px 10px 0px 0px;
  }
}
@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-cta-column > .elementor-widget-wrap {
    justify-content: space-evenly;
  }
}

@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-cta-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .headerSection
    .ntgheaderSection-cta-column
    > .elementor-widget-wrap
    > .elementor-widget-ekit-nav-menu {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .headerSection .ntgheaderSection-menu-col {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-menu-col > .elementor-widget-wrap {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-nav-menu .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-nav-menu .elementskit-menu-hamburger {
    padding: 4px 4px 4px 4px;
    width: 50px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 1024px) {
  .headerSection .ntgheaderSection-nav-menu .elementskit-menu-container {
    transform: translateY(0%);
    height: 100vh !important;
  }
}

@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-nav-menu .elementskit-menu-container {
    max-width: 350px;
    border-radius: 0px 0px 0px 0px;
  }
}

@media (max-width: 1024px) {
  .ntgheaderSection-nav-menu .elementskit-nav-identity-panel {
    padding: 10px 0px 10px 0px;
  }
}

@media (max-width: 1024px) {
  .headerSection .ntgheaderSection-menu-col .elementskit-navbar-nav > li > a {
    color: #000000;
    padding: 10px 15px 10px 15px;
  }
}

@media (max-width: 1024px) {
  .headerSection
    .ntgheaderSection-menu-col
    .elementskit-navbar-nav
    > li
    > a
    .elementskit-submenu-indicator {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .ntgheaderSection-nav-menu
    .elementskit-nav-identity-panel
    > .elementskit-menu-close {
    font-size: 20px;
    line-height: 1em;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    width: 45px;
    border-radius: 3px;
  }
}

@media (max-width: 1024px) {
  .mob-tab-lang-switcher ul.elementskit-dropdown > li > a {
    padding: 15px 15px 15px 15px;
  }
}

@media (max-width: 1024px) {
  .ntgheaderSection-nav-menu
    .elementskit-nav-identity-panel
    .elementskit-nav-logo {
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
  }
}

@media (max-width: 1024px) {
  .ntgheaderSection-nav-menu
    .elementskit-nav-identity-panel
    .elementskit-nav-logo
    > img {
    max-width: 160px;
    max-height: 60px;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-logo-col {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-content-col {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-menu-col {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-cta-column {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-cta-column {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-menu-col {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .headerSection > .elementor-container {
    min-height: 80px;
  }
}

@media (max-width: 767px) {
  .solidRedCTA.triggerContactusForm > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .headerSection
    .ntgheaderSection-cta-column
    .solidRedCTA.triggerContactusForm
    a.elementor-button {
    padding: 5px 25px 5px 25px !important;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-logo-col .ntLogo img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .headerSection .ntgheaderSection-cta-column > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .ntgheaderSection-nav-menu
    .elementskit-nav-identity-panel
    .elementskit-nav-logo
    > img {
    max-width: 120px;
    max-height: 50px;
  }
}

/* Need to add this in japanese (specifically) does not make things bad on other lang cause i have added padding with !important for mobile screen because all lang get same padding from that point*/
.headerSection
  .ntgheaderSection-cta-column
  .solidRedCTA.triggerContactusForm
  a.elementor-button {
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  padding: 9px 20px 9px 20px;
}

/* Need to add this in german (specifically) (does not make things bad on english or japanese) */

.ast-theme-transparent-header:not(.blankHero)
  .stickyHeader
  .headerSection
  .ntLogo
  img {
  filter: none !important;
}

.ast-theme-transparent-header:not(.blankHero) section.headerSection {
  background: linear-gradient(
    180deg,
    #0f0f1a -100%,
    rgba(15, 15, 26, 0) 100%
  ) !important;
}

.ast-theme-transparent-header:not(.blankHero) section.headerSection:hover {
  background: #fff !important;
}

.ast-theme-transparent-header:not(.blankHero) .stickyHeader .headerSection {
  background: #fff !important;
  box-shadow: 0px 2px 27px 0px rgba(0, 0, 0, 0.1) !important;
}

.ast-theme-transparent-header:not(.blankHero) header#masthead {
  position: fixed !important;
}

.ast-theme-transparent-header:not(.blankHero)
  .stickyHeader
  .headerSection
  .elementskit-navbar-nav
  > li
  > a.menu-link {
  color: #222 !important;
}
.headerSection
  .ntgheaderSection-cta-column
  .solidRedCTA.triggerContactusForm
  a.elementor-button {
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  padding: 9px 15px 9px 15px;
}
.stickyHeader .headerSection, 
.unStickyHeader .headerSection {
    background-color:#fff !important
}

@media only screen and (min-width: 1025px) {
  header#masthead .elementskit-menu-container .elementskit-megamenu-panel {
    box-shadow: 0px 20px 20px 0px rgba(15, 15, 26, 0.1) !important;
  }
  header#masthead.unStickyHeader,
  header#masthead.stickyHeader {
    box-shadow: 0px 10px 40px 0px rgba(15, 15, 26, 0.1) !important;
  }
  .ntgheaderSection-menu-col .elementskit-megamenu-panel > div {
    border-top: 0.5px solid rgba(159, 163, 170, 1) !important;
  }
}
header.unStickyHeader .headerSection {
    background: #fff !important;
    box-shadow: 0 2px 27px 0 rgba(0, 0, 0, .1) !important;
}
header#masthead.stickyHeader .elementskit-megamenu-panel, header#masthead.unStickyHeader .elementskit-megamenu-panel {
    padding-top: 0;
}

/* Hiding response output */
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.invalid.init .wpcf7-response-output, .wpcf7 form.init .wpcf7-response-output{
	display: none !important;
}

/* Download icon - Sprint 33 */
a[data-type="case-study-pdf"] svg path {
    fill: #d6001c !important;
}

a[data-type="case-study-pdf"]:hover svg path {
    fill: #ffffff !important;
}

.cky-consent-container.cky-classic-bottom:before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #00000085;
    top: 0;
    z-index: -1;
}
@media (max-width: 1024px) {
    #menu-primary-menu li.menu-item > a:after {
    }
}

header#masthead {
    top: 0;
    width: 100%;
    transition: .4s;
    position: sticky!important;
    z-index: 9999!important
}

div#mainNavGetInTouch a {
    width: min-content!important;
    white-space: nowrap
}

#menu-primary-menu li.menu-item>a .elementskit-submenu-indicator:before {
    content: url(images/chevron_down.svg)
}

.ast-theme-transparent-header:not(.blankHero) #menu-primary-menu li.menu-item>a .elementskit-submenu-indicator:before,.ast-theme-transparent-header:not(.blankHero) .ntLogo img {
    filter: brightness(0) invert(1)
}

.ast-theme-transparent-header:not(.blankHero) .stickyHeader .headerSection .ntLogo img {
    filter: none!important
}

.ast-theme-transparent-header:not(.blankHero) section.headerSection {
    background: linear-gradient(180deg,#0f0f1a -100%,rgba(15,15,26,0) 100%)!important
}

.ast-theme-transparent-header:not(.blankHero) section.headerSection:hover {
    background: #fff!important
}

.ast-theme-transparent-header:not(.blankHero) .stickyHeader .headerSection {
    background: #fff!important;
    box-shadow: 0 2px 27px 0 rgba(0,0,0,.1)!important
}

.ast-theme-transparent-header:not(.blankHero) header#masthead,body:not(.ast-theme-transparent-header) header#masthead {
    position: fixed!important
}

.ast-theme-transparent-header:not(.blankHero) .stickyHeader .headerSection .elementskit-navbar-nav>li>a.menu-link {
    color: #222!important
}

@media only screen and (min-width: 1025px) {
    body:not(.ast-theme-transparent-header) #page .site-content {
        margin-top:112px
    }

    .ast-theme-transparent-header:not(.blankHero) .elementskit-navbar-nav>li>a.menu-link {
        color: #fff!important
    }}

.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}										

.popupContactInner .haveThankyouPage .wpcf7 form .wpcf7-response-output {
  bottom: 13px !important;
  padding: 0px !important;
  margin: 2em 0.5em 1em 0em !important;
}

.popupContactInner .haveThankyouPage .wpcf7 form.send .wpcf7-response-output,
.popupContactInner .haveThankyouPage .wpcf7 form.set .wpcf7-response-output {
  display: none !important;
}

.popupContactInner .haveThankyouPage .wpcf7 form.failed .wpcf7-response-output {
  display: block !important;
}

.popupContactInner
  .haveThankyouPage
  .wpcf7
  form.invalid
  .wpcf7-response-output {
  display: none !important;
}

.popupContactInner .haveThankyouPage .wpcf7 form.spam .wpcf7-response-output {
  display: block !important;
}

.popupContactInner
  .haveThankyouPage
  .wpcf7
  form.aborted
  .wpcf7-response-output {
  display: block !important;
}

.popupContactInner .haveThankyouPage .wpcf7 form.submit .wpcf7-response-output,
.popupContactInner
  .haveThankyouPage
  .wpcf7
  form.resetting
  .wpcf7-response-output,
.popupContactInner
  .haveThankyouPage
  .wpcf7
  form.custom-invalid-fields
  .wpcf7-response-output {
  display: none !important;
}

.popupContactInner .haveThankyouPage{
    padding: 0px 0px 0px 0px !important;
}

.popupContactInner .haveThankyouPage .wpcf7 form .wpcf7-response-output{
    transform: translate(-50%, 0px) !important;
    bottom: -90px !important;
}

.popupContactInner .haveThankyouPage .wpcf7 form.sent .wpcf7-response-output {
    position: absolute !important;
  display: block !important;
  bottom: -90px !important;
  left: calc(50%) !important;
  transform: translate(-50%, 0px) !important;
  height: max-content !important;
  background-color: RGB(223, 240, 216);
  color: RGB(48, 184, 86) !important;
  padding: 8px 4px 8px 40px !important;
  width: calc(100%) !important;
  text-align: left;
  border: none !important;
  font-weight: 600 !important;
  font-size: 14px;
  margin: 2em 0.5em 1em 0em!important;
  line-height: 1.4 !important;
}
.popupContactInner .haveThankyouPage .wpcf7 form.sent .wpcf7-response-output::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("images/check_circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: hue-rotate(190deg) saturate(1) brightness(2);
}

@media only screen and (max-width: 1024px){
    .popupContactInner .haveThankyouPage{
        padding: 0px 0px 60px 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .popupContactInner .haveThankyouPage .wpcf7 form .wpcf7-response-output{
        bottom: -60px !important;
    }
}

@media only screen and (max-width: 767px){
    .popupContactInner .haveThankyouPage{
        padding: 0px 0px 40px 0px !important;
    }
    .popupContactInner .haveThankyouPage .wpcf7 form.sent .wpcf7-response-output {
      bottom: -65px !important;
      left: calc(50%) !important;
      transform: translate(-50%, 0px) !important;
      width: calc(100%) !important;
    }
}
.popupContactInner .haveThankyouPage .wpcf7 form.failed .wpcf7-response-output,
.popupContactInner .haveThankyouPage .wpcf7 form.spam .wpcf7-response-output,
.popupContactInner .haveThankyouPage .wpcf7 form.aborted .wpcf7-response-output{
	position: absolute !important;
	margin: 2em 0.5em 1em 0em !important;
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
        .popupContactInner .haveThankyouPage .wpcf7 form.failed .wpcf7-response-output,
	.popupContactInner .haveThankyouPage .wpcf7 form.spam .wpcf7-response-output,
	.popupContactInner .haveThankyouPage .wpcf7 form.aborted .wpcf7-response-output,
        .popupContactInner .haveThankyouPage .wpcf7 form.sent .wpcf7-response-output{
		margin: 2em 0.5em 1.5em 0em !important;
	}
}
								